.nav {
  height: 5rem;
  width: 100vw;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: 0 0 10px 5px rgb(187, 187, 187);
}

.nav h1 {
  color: #fff;
  font-weight: 500;
}
